DATABASE_URL=sqlite:///./sped_saas.db
SECRET_KEY=troque-esta-chave-em-producao
ACCESS_TOKEN_EXPIRE_MINUTES=1440
STORAGE_ROOT=storage
MAX_UPLOAD_MB=80

# Sandbox:
ASAAS_BASE_URL=https://sandbox.asaas.com/api/v3

# Producao:
# ASAAS_BASE_URL=https://api.asaas.com/v3

ASAAS_API_KEY=
ASAAS_WEBHOOK_TOKEN=
ASAAS_WALLET_ID=
